

body{
   
    
   
  
    background-color:coral;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color:burlywood;
    border: 2px solid crimson;
}

#todos {
   
   
    
    
    color: aliceblue;

   
   
}
header {
  
    text-align:center;
   
   
    color: aliceblue;
    border-bottom: 3px solid crimson;

}

.strike-through {
    color:black;
    text-decoration:line-through;
}
.delete-Todos {
    display:block;
margin-left: auto;
margin-right:auto;
width: 200px;
height: 30px;

}

#filter-buttons {
   background-color:rebeccapurple;
text-align:center;
padding-bottom: 18px;
margin-bottom: 18px;

border-top:2px solid crimson;
border-bottom:2px solid crimson;

}

#todos-uberschrift {
    
    background-color:rebeccapurple;
   text-align:center;
   padding:1em;
   border-top:2px solid crimson;
   border-bottom:2px solid crimson;
 
}


